# Diabetes Preiction Using ML Support Vector Classifier

### Data is in comma seperated value (csv)

## Aim : Create a model using machine learning algorithm to predict whether the patient have diabetis or not

### This senario seems like a binary classification problem 

## Why SVM

###  Model : SVC 
####  - To Identifying the most relevant features for separating the classes (diabetic and non-diabetic).
####  - To perform well even with limited data compared to some other algorithms. Because focus on finding the optimal hyperplane that maximizes the margin between the classes.
#### - Non-linearity Handling: 
##### The capability of the algorithm to deal with situations where the data cannot be perfectly separated by a straight line (hyperplane) in the original feature space.
##### He factors affecting diabetes might not have a simple linear correlation. In such scenarios, a straight line cannot perfectly divide the data points belonging to different classes.

How?

Kernel Functions: SVMs leverage the concept of kernel functions. 
These functions essentially take the data points from the original space and map them into a higher-dimensional space where they become linearly separable.

In [12]:
import pandas as pd 
import numpy as np

In [5]:
from sklearn.preprocessing import StandardScaler 
#  normalize features within a dataset. 

# Scales: 
#     Centering: Subtracting the mean value of each feature from each data point. 
#                  This essentially centers the data around zero.
#     Scaling: Dividing each data point by the standard deviation of the corresponding feature. 
#                  This ensures all features have a standard deviation of approximately 1.

### Standard scaler is fitted on the training data only.

####  To transform features based on their statistical properties (mean and standard deviation) in the training data.

In [7]:
# Sample of standard scaler 

# Create a sample dataset
data = [[100, 1], [50, 2], [20, 5]]

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler on the training data (calculate mean and standard deviation)
scaler.fit(data)

# Transform the data (center and scale)
scaled_data = scaler.transform(data)

# Print the scaled data
print(scaled_data)

[[ 1.31319831 -0.98058068]
 [-0.20203051 -0.39223227]
 [-1.1111678   1.37281295]]

In [8]:
from sklearn.model_selection import train_test_split
# To split data

In [9]:
from sklearn import svm

In [10]:
from sklearn.metrics import accuracy_score

In [13]:
dataset =pd.read_csv("diabetes.csv")

In [16]:
# pd.read_csv?

In [17]:
dataset.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [21]:
dataset.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [25]:
dataset.shape

(768, 9)

In [26]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [29]:
dataset["Outcome"].value_counts()
# 0 -> Non-diabetic
# 1 -> Diabetic

Outcome
0    500
1    268
Name: count, dtype: int64

In [32]:
dataset.groupby('Outcome').count()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,500,500,500,500,500,500,500,500
1,268,268,268,268,268,268,268,268

In [34]:
dataset.groupby('Outcome').count().describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
std,164.048773,164.048773,164.048773,164.048773,164.048773,164.048773,164.048773,164.048773
min,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000,268.000000
25%,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000
50%,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
75%,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000
max,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000

In [35]:
X=dataset.drop(columns='Outcome',axis=1)
Y=dataset['Outcome']

In [37]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [38]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [40]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [41]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [42]:
# Data Standardization

In [47]:
scaler = StandardScaler() #using a instance of StandardScaler()

In [48]:
scaler.fit(X)

StandardScaler()

In [49]:
standardizeddata=scaler.transform(X)

In [50]:
standardizeddata

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [51]:
X=standardizeddata
Y=dataset['Outcome']

In [53]:
print(X)
Y

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [54]:
# train test split

In [58]:
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

# test_size=0.2 : 20% data used to test 
# startify=Y : we want our dataset to be splited in same proportion 
# random_state=2 : 

# Machine learning model should not see test data and we want madel to make predict on unknown data

In [59]:
print(X.shape , X_test.shape, X_train.shape)

(768, 8) (154, 8) (614, 8)

In [61]:
# Training the model

In [62]:
classifier = svm.SVC(kernel='linear')

In [63]:
# trianing the support vector classifier

In [64]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [65]:
# evaluate our model
# How many times our model performing correctly

In [66]:
# Accuracy score

In [67]:
X_train_prediction= classifier.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [70]:
print("Accuracy score of training data : ", training_data_accuracy)

Accuracy score of training data :  0.7866449511400652

In [71]:
X_test_prediction= classifier.predict(X_test)
training_accuracy_testdata= accuracy_score(X_test_prediction, Y_test)

In [72]:
print("Accuracy score of test data", training_accuracy_testdata)

Accuracy score of test data 0.7727272727272727

## Accuracy :
    
    Train :  0.7866449511400652
    Test  :  0.7727272727272727

In [73]:
# Create a predictive system

In [74]:
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [87]:
inputdata=(10,139,80,0,0,27.1,1.441,57)
inputDataAsNumpyArray = np.asarray(inputdata)

# reshape the array
# model expects all data, this reshape tells we need prediction for only

dataReshaped=inputDataAsNumpyArray.reshape(1,-1)

# we need standardized data 
std_data= scaler.transform(dataReshaped)
print(std_data)

prediction = classifier.predict(std_data)

[[ 1.82781311  0.56664949  0.56322275 -1.28821221 -0.69289057 -0.62096232
   2.92686858  2.02160968]]

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [90]:
# print(prediction)   # 8,183,64,0,0,23.3,0.672,32 ->  1   1

if prediction == 0:
    print("Diabetic = 0 ")
else:
    print("Non-Diabetic = 1")

Non-Diabetic = 1